# temp files
*.bak

# Local directories
**/build
**/local
**/.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
#*.obj # 3d asset obj files are used for test data

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
